body {

}

#tabButton {
    margin-left: 100px;
}

#iconUp {
    margin-top: -20px;
}

.backgroundLight {
    background-color: #FFF5E6;
}

.backgroundMedium {
    background-color: #ffebcc;
}

#noPad {
    padding: 10px 0 0 0;
}

