/* Bitter Regular */
@font-face {
  font-family: 'Bitter';
  src: url('../../v2/fonts/Bitter/bitter-regular-webfont.eot');
  src: url('../../v2/fonts/Bitter/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../v2/fonts/Bitter/bitter-regular-webfont.woff') format('woff'), url('../../v2/stylesheets/fonts/Bitter/bitter-regular-webfont.ttf') format('truetype'), url('../../v2/fonts/Bitter/bitter-regular-webfont.svg#bitterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2014 Fontspring

 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Mark Simonson Studio
 * License URL: http://www.fontspring.com/fflicense/mark-simonson-studio
 */
/* Proxima Nova Regular */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../v2/fonts/ProximaNova/ProximaNova-Reg-webfont.eot');
  src: url('../../v2/fonts/ProximaNova/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('../../v2/fonts/ProximaNova/ProximaNova-Reg-webfont.woff') format('woff'), url('../../v2/fonts/ProximaNova/ProximaNova-Reg-webfont.ttf') format('truetype'), url('../../v2/fonts/ProximaNova/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
